<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{url_for('static',filename='img/icon.png')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/materialize.min.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom.css') }}">

  <title>COVID19 India API</title>
  <style>
    .btn {
      background-color: #E9A134;
    }

    .btn:hover,
    .btn:active,
    .btn:visited {
      background-color: #E9A134;
    }

    blockquote {
      margin: 20px 0;
      padding-left: 1.5rem;
      border-left: 3px solid #b7b1b1;
    }

    .row .col.s12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
      text-align: center;
    }
  </style>
</head>

<body style="text-align: left;">
  <nav class="navbar">
    <div style="float: left;">
      <a href="/">
        <strong style="font-size: 22px;font-weight: 700;margin-left:10px;color:black">COVID19 India
          API
        </strong>
      </a>
    </div>
  </nav>

  <div class="container">

    <p style="font-size: 20px;font-weight: 650;">Country and State Wise Data</p>
    <blockquote>
      In the response of this API,
      you'll get the
      details of passengers screened count, active cases, recovered cases, migrated cases, death cases, samples tested,
      delta changes with different cases growth rates along with the state details.
    </blockquote>
    <a class="waves-effect waves-light btn" href="/all" target="_blank">View Response</a>

    <p style="font-size: 20px;font-weight: 650;">Worldwide Data</p>
    <blockquote>
      In the response of this API,
      you'll get the details about confirmed cases,active cases,recovered cases,death cases,new cases along with real
      time updates around the world.
    </blockquote>
    <a class="waves-effect waves-light btn" href="/global" target="_blank">View Response</a>

    <p style="font-size: 20px;font-weight: 650;">Coronavirus Headlines</p>
    <blockquote>
      In the response of this API,
      you'll get the headlines,thumbnails and the corresponding news summary.
    </blockquote>
    <a class="waves-effect waves-light btn" href="/headlines" target="_blank">View Response</a>

    <p style="font-size: 20px;font-weight: 650;">Helpline Numbers</p>
    <blockquote>
      In the response of this API,
      you'll get the list of all the Helpline Numbers of the States and the Union Territories.
    </blockquote>
    <a class="waves-effect waves-light btn" href="/helpline_numbers" target="_blank">View Response</a>
  </div>

  <div class="row" style="padding: 64px 20px 0px 10px;">
    <div class="col s12 m10 l10 xl10 offset-m4">
      <a href="https://github.com/iSumitBanik/COVID19-India-Data-API" target="_blank">
        <img src="/static/img/github-logo-new.png" width="100px">
      </a>

    </div>

    <div class="col s12 m2 l2 xl2">
      <a href="https://covid-19-apis.postman.com/" target="_blank">
        <img src="/static/img/postman.png" width="120px">
      </a>
    </div>
  </div>
</body>

</html>