body {
  text-align: center;font-family: 'Quicksand', sans-serif;
}

#maintainence-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 200px auto;
}
nav {
  background-color: #ffba5a;
  color:#000;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow: none;
}

#error404-div{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 200px auto;
}

